<div class="container-fluid pt-3">
    <p class="h1" style="margin-bottom: 20px;">EDUCATION</p>

	<div class="card" style="background-color: #ECF2FF;">
		<div class="card-body">
			<h5 class="card-title">Bachelors of Technology, Electrical and Electronics Engineering CGPA-9.17</h5>
			<h6 class="card-subtitle mb-2">C.V. Raman Global University, Bhubaneswar</h6>
			<p class="card-text font-weight-bold">2019 - 2023</p>
			
		  </div>
	</div>

	<div class="card" style="background-color: #ECF2FF;">
		<div class="card-body">
			<h5 class="card-title">Class XII, Percentage-72.66%</h5>
			<h6 class="card-subtitle mb-2">Nalanda Public School, Bhatapada</h6>
			<p class="card-text font-weight-bold">2017 - 2019</p>
			
		  </div>
	</div>
	
	<div class="card" style="background-color: #ECF2FF;">
		<div class="card-body">
			<h5 class="card-title">Class X, CGPA-9.0</h5>
			<h6 class="card-subtitle mb-2">D.A.V Public School Sec-6 CDA , Cuttack</h6>
			<p class="card-text font-weight-bold">2016 - 2017</p>
			
		  </div>
	</div>
	
</div>
