
  <div class="container-fluid mx-auto">
        <hr>
            <div class="text-center center-block">
                <p class="h4">-Lets Connect -</p>
                <br />
                    <a class="mx-3" href="https://github.com/JanmejayM" id="social-gh" ><fa-icon [icon]="githubIcon" size="3x"></fa-icon></a>
                    <a class="mx-3" href="mailto:mohapatra.janmejayz@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    <a class="mx-3" href="https://www.linkedin.com/in/janmejay-mohapatra/" id="social-li"  ><fa-icon [icon]="linkedinIcon" size="3x"></fa-icon></a>

    </div>
        <hr>
    </div>