<div class="container-fluid pt-3">
    <p class="h1" style="margin-bottom: 20px;">ABOUT ME</p>


    <span class="h3" style="font-family: 'Montserrat', sans-serif;line-height: 30pt;  word-spacing: 16px">Hi I'm Janmejay Mohapatra. </span>
    <span style="font-size: 16pt;font-family: 'Montserrat', sans-serif;line-height: 30pt;  word-spacing: 16px;">I am Pursuing my B.Tech in C.V. Raman Global University. Currently I'm in my 8th semester of B.Tech in Electrical and Electronics Engineering. I am Aspiring to be Software Developer. I am acquainted with Full Stack  Java Development and Web Development Technologies. I have completed my training in Java Full Stack from Udemy Courses. I have experience of working on some full stack Projects.In addition, to Full Stack Web Development. I also have experience of working on IoT Project Developments</span>
    
</div>