
<div class="container-fluid pt-3">
    <p class="h1" style="margin-bottom: 20px;">WORK EXPERIENCE</p>


    <div >
        <div class="card" style="background-color: #F8F5E4;">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h6 class="card-subtitle mb-2 text-muted">Digital Nurture 2.0 GenC NEXT Trainee</h6>
              <p class="card-text">Cognizant Technology Solutions</p>
              <ul>
                <li>
                    Java Full Stack Learning Path offered by Cognizant.
                </li>


              </ul>
              
            </div>
            </div>
            <div class="card" style="background-color: #CBE4DE;">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Embedded Systems Development Intern</h6>
                  <p class="card-text">Pkare</p>
                  <ul>
                    <li>
                        Design and develop hardware and firmware for embedded systems & IoMT
                    </li>
                    <li>
                        Perform bring-up,testing and troubleshooting of prototypes
                    </li>
                    <li>
                        Create design documents and test reports
                    </li>
    
    
                  </ul>
                  
                </div>
          </div>

          <div class="card" style="background-color: #C7E8CA;">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h6 class="card-subtitle mb-2 text-muted">Robotics Engineer Intern</h6>
              <p class="card-text">Young Tinker Academy</p>
              <ul>
                <li>
                    Developing Projects and learning modules on Arduino and ESP8266.
                </li>
                <li>
                    Developing App Using MIT App Inventor
                </li>
                <li>
                    Contributed in 20+ Mini Projects in duration of 2 months.
                </li>


              </ul>
              
            </div>
      </div>

      <div class="card" style="background-color: #F5EAEA;">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h6 class="card-subtitle mb-2 text-muted">IOT Developer Intern</h6>
          <p class="card-text">Exposys Data Labs</p>
          <ul>
            <li>
                Task Assigned- Soil Moisture Detection Using IoT Analytics.
            </li>


          </ul>
          
        </div>
  </div>

    </div>
</div>
