<div class="container-fluid pt-3">
    <p class="h1">RECENT PROJECTS</p>

    <div>

        <div class="row">
            <div class="col-sm-4">

                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="assets/Project1.jpeg" alt="Card image cap">

                      <p class="card-text">Automatic Certificate Generation With Mail Facility</p>
                      <a  class="btn btn-primary" href="https://github.com/JanmejayM/AUTOMATIC-CERTIFICATE-GENERATION-WITH-MAIL-FACILITY">Github Link</a>
                    </div>
                  </div>

            </div>

            <div class="col-sm-4">

                <div class="card" >
                    <div class="card-body">
                        <img class="card-img-top" src="assets/Project2.png" alt="Card image cap">

                      <p class="card-text">Soil Moisture Detection with IoT Analytics</p>
                      <a class="btn btn-primary" href="https://github.com/JanmejayM/Soil-Moisture-Detection-with-IoT-Analytics">Github Link</a>

                    </div>
                  </div>

            </div>
            <div class="col-sm-4">

                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="assets/Project3.png" alt="Card image cap">

                      <p class="card-text">Restaurant Management System</p>
                      <a class="btn btn-warning">Ongoing</a>

                    </div>
                  </div>

            </div>

        </div>

        

        <div class="row">
            <div class="col-sm-4">

                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="assets/Project4.png" alt="Card image cap">

                      <p class="card-text">ToDo App</p>
                      <a class="btn btn-primary" href="https://github.com/JanmejayM/ToDo_App">Github Link</a>

                    </div>
                  </div>

            </div>

            <div class="col-sm-4">

                <div class="card" >
                    <div class="card-body">

                        <img class="card-img-top" src="assets/Project5.png" alt="Card image cap">

                      <p class="card-text">Tic-Tac-Toe</p>
                      <a class="btn btn-primary" href="https://github.com/JanmejayM/Tic-Tac-Toe">Github Link</a>

                    </div>
                  </div>

            </div>


        </div>

    </div>
</div>
