<div class="container-fluid mt-5">

    <div class="row">

        <div class="col-sm-6">

            <ul>
                <span>Languages</span>
                <li>Java</li>
                <li>C++</li>
                <li>Python</li>

            </ul>

        </div>

        <div class="col-sm-6">

            <ul>
                <span>Web Development</span>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>

            </ul>


        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">

            <ul>
                <span>Frameworks and Libraries</span>
                <li>JQuery</li>
                <li>Bootstrap</li>
                <li>Tailwind CSS</li>
                <li>Angular</li>
                <li>Spring Framework</li>
                <li>Maven</li>

            </ul>

        </div>

        <div class="col-sm-6">

            <ul>
                <span>IT Constructs</span>
                <li>Data Structures and Algorithms</li>
                <li>DataBase Management System MYSQL</li>
                <li>Github and Git</li>
            </ul>


        </div>

    </div>

</div>