

  <nav class="navbar navbar-light flex-column align-items-stretch p-3 " style="height: 100%;">
    <ul class="nav nav-pills flex-column">

      <section class="centerise">
        <img class="img-thumbnail rounded-circle" src="assets/IMG_2413.JPG">

        



      </section>



      <li class="centerise2">
        <span >Janmejay Mohapatra</span>
        <br>
        <span>Full Stack Developer <fa-icon [icon]="laptopIcon" size="2x"></fa-icon>
        </span>

        </li>
      <li class="mt-3">

        <a class="nav-link centerise1" routerLink="" routerLinkActive="is-active" [routerLinkActiveOptions]={exact:true}>
          
          HOME
        </a>
      </li>
      <li>
        <a class="nav-link centerise1 " routerLink="about" routerLinkActive="is-active">
          
          ABOUT
        </a>
      </li>
      <li>
        <a class="nav-link centerise1" routerLink="experience" routerLinkActive="is-active">
          
          EXPERIENCE
        </a>
      </li>
      <li>
        <a class="nav-link centerise1" routerLink="education" routerLinkActive="is-active">
          
          EDUCATION
        </a>
      </li>
      <li>
        <a class="nav-link centerise1" routerLink="projects" routerLinkActive="is-active">

          PROJECTS
        </a>
      </li>
      <li>
        <a class="nav-link centerise1" routerLink="skills" routerLinkActive="is-active">

          SKILLS
        </a>
      </li>

      <li>
        <a class="nav-link centerise1" routerLink="resume" routerLinkActive="is-active">

          RESUME
        </a>
      </li>

      <li class="below">
        <div class="centerise1 text-dark">

          Swipe Down <i class="fa fa-hand-o-down"></i>

        </div>
      </li>
    </ul>
  </nav>


